@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

body {
  font-family: 'Ubuntu Condensed', sans-serif;
}

.border {
  margin: 10px;
  width: 70%;
  border: 3px solid red;
  padding: 10px;
}

img {
    max-width: 25%;
    height: auto;
    padding: 0.25rem;    
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.download img {
  display: block;
  margin: auto;
}

.download p {
  text-align: center;
}

img:hover {
    border: 1px solid red;
}

.button {
    background-color: navy;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.footer {
  margin-top: 6px;
  margin-bottom: 5px;
  margin-left: 65%;
  width: 70%;
  padding: 10px;
}

h1 {
  text-align: center;
  font-size: 56px;
}

h2 {
  text-align: center;
}

iframe {
    display: block;
    border-style:none;
}
